/* INDEX.HTML */
body {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100%; }

/* NAVBAR */
.main-header {
  background-color: #26272b;
  width: auto; }
  .main-header > div {
    display: inline-block; }
  .main-header__brand {
    vertical-align: middle;
    font-size: 30px;
    display: inline-block;
    padding: 0.5rem 1rem;
    color: whitesmoke; }

.main-nav {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: calc(100% - 18rem); }
  .main-nav__items a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: whitesmoke; }
  .main-nav__item {
    display: inline-block;
    margin: 0rem 1rem; }
    .main-nav__item:hover {
      text-shadow: 3px 3px 3px black; }

/* NAVBAR END */
/* MIDDLE */
.middle {
  margin: 5rem 0rem; }

.month {
  text-align: center;
  color: whitesmoke;
  text-shadow: 3px 3px 3px black; }

.game-items {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

.game-item {
  border-radius: 10px;
  min-height: 15rem;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  width: 230px;
  height: 300px; }

.text-box {
  color: white;
  text-shadow: 3px 3px 3px black;
  display: flex;
  flex-direction: column-reverse;
  padding-left: 1rem; }

.game-item .text-box {
  height: 100%; }

.bot-container {
  display: flex;
  justify-content: space-around;
  margin: 1rem; }
  .bot-container-left {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    align-items: center;
    margin: 1rem; }
    .bot-container-left h2 {
      width: 70%;
      border-radius: 10px;
      border: solid black 1px;
      text-align: center;
      background: #525E75;
      color: whitesmoke;
      padding: 0.5rem; }
    .bot-container-left img {
      border-radius: 10px; }

.game-description {
  color: whitesmoke;
  text-align: center;
  padding: 1rem; }

.game-top-rating {
  height: 13rem;
  width: 12rem; }

.bot-container-right {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: center;
  margin: 1rem; }
  .bot-container-right h2 {
    width: 70%;
    border-radius: 10px;
    border: solid black 1px;
    text-align: center;
    background: #525E75;
    color: whitesmoke;
    padding: 0.5rem; }

.news-preview {
  color: whitesmoke; }
  .news-preview li {
    padding: 1.5rem; }

.see-more {
  text-decoration: none;
  color: whitesmoke;
  float: right; }
  .see-more:hover {
    text-shadow: 3px 3px 3px black;
    border-bottom: solid #495579 5px; }

.footer {
  margin-top: 5rem;
  background-color: #26272b;
  padding: 1rem 1rem; }
  .footer .social-media {
    text-align: center; }
    .footer .social-media li {
      display: inline-block;
      padding: 0rem 0.5rem; }
    .footer .social-media img {
      width: 2rem;
      height: 2rem; }
  .footer p {
    color: antiquewhite;
    text-align: center; }

/* PROFILE.HTML */
.top-profile {
  padding-bottom: 100px; }
  .top-profile-buttom {
    display: inline-block;
    position: relative; }
  .top-profile .title-profile {
    text-align: center;
    font-size: 3rem;
    padding-top: 5rem;
    color: whitesmoke;
    margin: 0;
    text-shadow: 3px 3px 3px black; }

.profile {
  padding-bottom: 100px; }
  .profile-avatar {
    display: block;
    position: relative;
    margin: auto;
    width: 15rem; }
  .profile-form {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 2rem; }

.home-btn {
  width: 3rem;
  margin: 1rem; }

/* NEWS.HTML */
.middle__news {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly; }
  .middle__news .calendar {
    border: solid black 2px;
    border-radius: 10px;
    width: 20%;
    margin: 2rem;
    height: fit-content;
    background: #525E75;
    color: whitesmoke; }
    .middle__news .calendar li {
      padding: 0.5rem;
      list-style: none; }
  .middle__news #input__calendar {
    display: none; }
  .middle__news .news-container {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center; }
    .middle__news .news-container .news {
      width: 50rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .middle__news .news-container .news h2 {
        height: 15rem;
        border-radius: 10px;
        color: whitesmoke;
        padding: 1rem;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column-reverse;
        font-size: 2rem;
        text-shadow: 3px 3px 3px black; }
      .middle__news .news-container .news p {
        color: whitesmoke; }
  .middle__news .review {
    width: 30%;
    height: 100%;
    display: flex;
    flex-wrap: wrap; }
    .middle__news .review h2 {
      text-align: center;
      width: 100%;
      color: whitesmoke;
      text-shadow: 3px 3px 3px black; }
    .middle__news .review-box {
      margin: 2rem;
      display: flex;
      border-radius: 10px;
      background-position: center;
      background-size: cover;
      color: whitesmoke;
      text-shadow: 3px 3px 3px black; }
      .middle__news .review-box-user {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 1rem;
        padding: 0.5rem;
        border-radius: 10px;
        backdrop-filter: brightness(0.5); }
        .middle__news .review-box-user .user_photo {
          border-radius: 50%;
          background-position: center;
          background-size: cover;
          height: 7rem;
          width: 7rem; }
        .middle__news .review-box-user p {
          font-size: 1.5rem; }
      .middle__news .review-box-preview {
        display: flex;
        margin: 1rem;
        padding: 0.5rem;
        flex-flow: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        border-radius: 10px;
        backdrop-filter: brightness(0.5); }

/* UPCOMINGS.HTML */
.middle__upcomings {
  height: auto;
  width: 100%;
  display: flex;
  align-items: baseline; }
  .middle__upcomings .calendar {
    border: solid black 2px;
    border-radius: 10px;
    display: inline-block;
    width: 20%;
    margin: 2rem;
    height: fit-content;
    background: #525E75;
    color: whitesmoke; }
    .middle__upcomings .calendar li {
      padding: 0.5rem;
      list-style: none; }
  .middle__upcomings .input__calendar {
    display: none; }

.month-games {
  display: inline-block;
  width: 80%;
  padding: 0rem 1rem; }
  .month-games h1 {
    border: solid black 1px;
    border-radius: 10px;
    text-align: center;
    background: #525E75;
    color: whitesmoke;
    padding: 0.5rem;
    width: 50%;
    position: relative;
    left: 25%; }
  .month-games .game-list {
    display: flex;
    justify-content: space-around;
    height: 100rem; }
    .month-games .game-list__items {
      color: whitesmoke;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-content: space-around;
      flex-wrap: wrap; }
      .month-games .game-list__items :hover .game-list__item__text {
        display: none; }
      .month-games .game-list__items :hover .game-list__item__text__hover {
        text-shadow: 3px 3px 3px black;
        display: flex;
        flex-direction: column-reverse;
        padding-left: 1rem;
        height: 100%;
        justify-content: space-around; }
    .month-games .game-list__item {
      height: 15%;
      width: 40%;
      border-radius: 10px;
      background-position: center;
      background-size: cover;
      opacity: 10;
      transition: 0.3s; }
    .month-games .game-list__item__text {
      text-shadow: 3px 3px 3px black;
      display: flex;
      flex-direction: column-reverse;
      padding-left: 1rem;
      height: 100%;
      justify-content: space-between; }
    .month-games .game-list__item__text__hover {
      display: none; }

/* US.HTML */
.us_mid {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  gap: 3rem;
  padding: 5rem 0rem; }
  .us_mid_box {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: whitesmoke; }
    .us_mid_box_text {
      display: inline-block;
      width: 40%;
      text-align: center; }
    .us_mid_box_img {
      text-align: center; }
      .us_mid_box_img .person {
        border-radius: 10px;
        width: 30rem;
        height: 21rem;
        background-size: cover; }

@media screen and (max-width: 1024px) {
  /* INDEX.HTML MEDIA */
  .social-media {
    padding: 0; }
  .game-items {
    justify-content: space-around; }
  /* INDEX.HTML MEDIA END */
  /* NEWS.HTML MEDIA */
  .calendar ul {
    padding: 1rem; }
  #news-container {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center; }
  #news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0rem 1rem;
    width: auto; }
  #review {
    display: none; }
  /* UPCOMINGS.HTML MEDIA */
  .month-games {
    padding: 0rem 2rem; }
  /* UPCOMINGS.HTML MEDIA END */ }

@media screen and (max-width: 768px) {
  /* INDEX.HTML MEDIA */
  .main-header {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main-nav {
    width: 100%; }
  .main-nav__items {
    padding: 0;
    text-align: center; }
  .game-items {
    display: flex;
    flex-direction: row;
    margin: 0; }
  .game-item {
    height: 10rem; }
  #review {
    display: none; }
  /* INDEX.HTML MEDIA END */
  /* PROFILE.HTML MEDIA */
  .title-profile {
    padding-top: 1rem; }
  .home-btn {
    margin-top: 3rem; }
  /* PROFILE.HTML MEDIA END */
  /* NEWS.HTML MEDIA */
  .calendar {
    display: none; }
  #news-container {
    width: 90%; }
  #news {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
  .calendar ul {
    padding: 2rem; }
  /* NEWS.HTML MEDIA END */
  /* UPCOMINGS.HTML MEDIA */
  .middle__upcomings {
    height: 55rem; }
  .month-games {
    padding: 0; }
  .favorite-game {
    width: 30rem;
    height: 15rem; }
  /* UPCOMINGS.HTML MEDIA END */ }

@media screen and (max-width: 425px) {
  body {
    width: 26.5rem; }
  /* TOP MEDIA */
  .top {
    width: 26.5rem; }
  .main-header {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main-nav {
    width: 26.5rem; }
  .main-nav__items {
    display: flex;
    justify-content: space-evenly;
    padding: 0; }
  .main-nav__item {
    margin: 0;
    width: 100%;
    text-align: center; }
  /* TOP MEDIA END */
  /* MIDDLE MEDIA */
  .middle {
    width: 26.5rem; }
  .game-items {
    display: flex;
    width: 21.5rem;
    flex-direction: row;
    flex-wrap: wrap; }
  .game-item {
    width: 10rem;
    height: 10rem; }
  .bot-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem; }
  .news-preview ul {
    padding: 0; }
  /* MIDDLE MEDIA END */
  /* FOOTER */
  .social-media {
    padding: 0;
    width: 100%; }
  /* PROFILE.HTML MEDIA */
  .title-profile {
    text-align: center;
    font-size: 3rem;
    color: whitesmoke;
    padding-top: 1rem; }
  .home-btn {
    margin-right: 0.5rem;
    margin-top: 1.5rem; }
  /* PROFILE.HTML MEDIA END */
  /* NEWS.HTML MEDIA */
  #middle__news {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%; }
  .calendar {
    display: none; }
  #input__calendar {
    display: block;
    margin: 2rem 8rem;
    border: solid black 2px;
    border-radius: 10px;
    width: 50%;
    height: 2%;
    background-color: #495579; }
  #news-container {
    display: flex;
    width: 100%;
    flex-direction: column; }
  #news {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    width: 90%; }
  #news h2 {
    width: auto;
    height: 15rem;
    border-radius: 10px;
    color: whitesmoke;
    padding: 1rem;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    font-size: 2rem;
    text-shadow: 3px 3px 3px black; }
  #review {
    display: none; }
  /* NEWS.HTML MEDIA END */
  /* UPCOMINGS.HTML MEDIA */
  #calendar {
    display: none; }
  .middle__upcomings {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .month-games h1 {
    margin: 1rem;
    width: 70%;
    padding: 0.5rem;
    position: relative;
    left: 10%; }
  #game-list__items {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; }
  #game-list__item {
    height: auto;
    width: auto; }
  #game-list__item__text {
    padding: 0rem 1rem; }
  .game-list__item__text__hover {
    width: 95%; }
  /* UPCOMING.HTML MEDIA END */
  /* US.HTML MEDIA */
  .middle-us {
    color: whitesmoke;
    text-align: center;
    padding: 2rem; } }
