/* PROFILE.HTML */

.title-profile{
    text-align: center;
    font-size: 3rem;
    padding-top: 5rem;
    color: whitesmoke;
}

.profile{
    &-avatar{
        display: block;
        position: relative;
        margin: auto;
        width: 15rem;
    }
    &-form{
        display: flex;
        flex-flow: column;
        align-items: center;
        padding-top: 2rem;
    }
    &-bottom{
        display: block;
    }
}

.home-btn{
    width: 3rem;
    margin: 1rem;
}