/* PROFILE.HTML */

.top-profile{
    padding-bottom: 100px;
    &-buttom{
        display: inline-block;
        position: relative;
    }
    .title-profile{
        text-align: center;
        font-size: 3rem;
        padding-top: 5rem;
        color: whitesmoke;
        margin: 0;
        text-shadow: 3px 3px 3px black;
    }
}

.profile{
    padding-bottom: 100px;
    &-avatar{
        display: block;
        position: relative;
        margin: auto;
        width: 15rem;
    }
    &-form{
        display: flex;
        flex-flow: column;
        align-items: center;
        padding-top: 2rem;
    }
}

.home-btn{
    width: 3rem;
    margin: 1rem;
}