/* UPCOMINGS.HTML */
.middle__upcomings{
    height: auto;
    width: 100%;
    display: flex;
    align-items: baseline;
    .calendar{
        border: solid black 2px;
        border-radius: 10px;
        display: inline-block;
        width: 20%;
        margin: 2rem;
        height: fit-content;
        background: #525E75;
        color: whitesmoke;
        li{
            padding: 0.5rem;
            list-style: none;
        }
    }
    .input__calendar{
        display: none;
    }
}

.month-games{
    display: inline-block;
    width: 80%;
    padding: 0rem 1rem;
    h1{
        border: solid black 1px;
        border-radius: 10px;
        text-align: center;
        background: #525E75;
        color: whitesmoke;
        padding: 0.5rem;
        width: 50%;
        position: relative;
        left: 25%;
    }
    .game-list{
        display: flex;
        justify-content: space-around;
        height: 100rem;
            &__items{
                color: whitesmoke;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-content: space-around;
                flex-wrap: wrap;
                :hover{
                    .game-list__item__text{
                        display: none;
                    }
                    .game-list__item__text__hover{
                        text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
                        display: flex;
                        flex-direction: column-reverse;
                        padding-left: 1rem;
                        height: 100%;
                        justify-content: space-around;
                        }
                }
            }
            &__item{
                height: 15%;
                width: 40%;
                border-radius: 10px;
                background-position: center;
                background-size: cover;
                opacity: 10;
                transition: 0.3s;     
            }
            &__item__text{
                text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
                display: flex;
                flex-direction: column-reverse;
                padding-left: 1rem;
                height: 100%;
                justify-content: space-between;
            }
            &__item__text__hover{
                display: none;
            }
    }
}